* {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

/* .container-fluid,
.row-cont {
    height: 100vh;
} */

#text-box {
    height: 70vh;
}

.card {
    margin-bottom: 1rem;
}

#message {
    width: fit-content;
}

.msg-details {
    z-index: 100;
    opacity: 60%;
    user-select: none;
}

.chat-history {
    text-overflow: ellipsis;
}