{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row border">
        <div class="header d-flex justify-content-center">
            <div class="col-4"></div>
            <div class="col-4  d-flex justify-content-center">
                <h1>TLLLM</h1>
            </div>
            <div class="col-4  d-flex justify-content-start">
                {% if session["username"] %}
                <a href="/logout" class="align-self-center text-black">Logout</a>
                {% else %}
                <a href="/login" class="align-self-center text-black">Login</a>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="row row-cont">

        <div class="col-2">
            <div class="list-group p-4">
                <a href="/home" class="list-group-item list-group-item-action text-center">
                    New chat
                </a>
            </div>
            <div class="row p-4">
                <h4>History</h4>
                <div class="list-group overflow-scroll chats">
                    <!-- <a href="#" class="list-group-item list-group-item-action active">
                        The current link item
                    </a> -->
                    {% if chats|length > 0 %}
                    {% for chat in chats %}
                    {% set chat_id = chat.id %}
                    <a href="/home/{{ chat_id }}" class="list-group-item list-group-item-action chat-history"
                        onclick="setActive(this)">
                        {{ chat.messages.first().content }}
                    </a>
                    {% endfor %}
                    {% else %}
                    <p>There is no chat history</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-cont">

            <div class="row text-box p-4 overflow-scroll" id="text-cont">
                <div id="text-box">
                    {% if chat_msgs|length > 0 %}
                    {% for msg in chat_msgs %}
                    <div>
                        <span class="msg-details text-secondary">
                            {% if msg.user.username %}
                            {{ msg.user.username }}
                            {% else %}
                            NULL
                            {% endif %}
                        </span>
                        {% if msg.user.username == session["username"] %}
                        <div class="card" style="background-color: rgb(184, 234, 244);">
                            <div class="card-body">

                                {{ msg.content }}

                            </div>
                        </div>
                        {% else %}
                        <div class="card">
                            <div class="card-body">
                                {{ msg.content }}
                            </div>
                        </div>
                        {% endif %}

                    </div>
                    {% endfor %}
                    {% else %}
                    <p id="fresh_chat" class="text-black-50 text-center m">This is a fresh chat, feel free to ask!</p>
                    {% endif %}
                </div>
            </div>
            <div class="row prompt-box">
                <textarea class="form-control" name="prompt" id="prompt" placeholder="Ask anythin here..."
                    autofocus></textarea>
                <button class="btn btn-primary mt-2" id="btn" type="submit" onclick="post()">Send</button>
            </div>
        </div>

        <!-- <div class="col-2">
            
        </div> -->

    </div>
</div>
{% endblock %}