{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row row-cont">
        <div class="col-lg-6 mx-auto col-cont">
            <div class="header d-flex justify-content-center">
                <h1>TLLLM</h1>
                {% if session["username"] %}
                <a href="/logout" class="align-self-center">Logout</a>
                {% else %}
                <a href="/login" class="align-self-center">Login</a>
                {% endif %}
            </div>

            <div class="row text-box border p-4 overflow-scroll" id="text-cont">
                <div id="text-box" class=""></div>
            </div>
            <div class="row prompt-box">
                <textarea class="form-control" name="prompt" id="prompt" placeholder="Ask anythin here..."
                    autofocus></textarea>
                <button class="btn btn-primary mt-2" id="btn" type="submit" onclick="publish()">Send</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}