{% extends 'base.html' %}

{% block content %}
<div class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 card">
                <div class="card-body">
                    <h1>Register</h1>
                    <form method="post" action="/register" class="d-flex flex-column" name="rgstr-form">
                        <div class="form-outline mb-4">
                            <input type="text" name="username" class="form-control form-control" placeholder="username"
                                required />
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" name="password" class="form-control form-control"
                                placeholder="password" required />
                            <input type="password" name="confirm_password" class="form-control form-control"
                                placeholder="confirm password" required />
                            <!-- <span onclick="showPass()">show</span> -->
                        </div>
                        <button type="submit" class="btn btn-primary" id="rgstr-sbmt"
                            onclick="validate()">Register</button>
                        <p>already have an account? <a href="/login">login</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='validate.js') }}"></script>
{% endblock %}